    {% extends "layout.html" %}

    {% block title %}
        <title>Tarefas</title>
    {% endblock title %}

    {% block styles %}
        <link rel="stylesheet" href="styles/homework.css">
        <link rel="stylesheet" href="styles/painel.css">
    {% endblock styles %}

    {% block header %}
        <div id="header">
            <div class="head">
                <div id="logo">
                    <a href="">
                        <img src="imagens/logo.png" alt="">
                    </a>
                </div>
                <div id="menu">
                    <a href="">Home</a>
                    <a href=""><img src="imagens/mega fone.png" alt=""> Extra Aula</a>
                    <a href=""><img src="imagens/calendar.png" alt=""> Calendário</a>
                    <a href=""><img src="imagens/boletim.png" alt=""> Boletim</a>
                </div>
                <div id="perfil">
                    <span id="nome" class="branco">Gustavo França</span>
                    <span class="branco"> | </span>
                    <span id="turma" class="branco">4º Mecatrônica</span>
                    <img src="imagens/registerfoto.png" alt="">
                </div>
            </div>
        </div>
    {% endblock header %}

    {% block principal %}
        <div id="principal">
            <div id="botao">
                <a href="/tarefas"><button class="roxo">Tarefas</button></a>
                <a href="/videos"><button>Vídeos</button></a>
                <a href="/materias"><button>Matérias</button></a>
                <a href="/conceitos"><button>Conceitos</button></a>
            </div>
            <div id="quadrado">
                <div class="select">
                    <p>Classificar por:</p>
                    <select name="" id="">
                        <option value="">Não entregues primeiro</option>
                        <option value="">Concluídas</option>
                        <option value="">Mais antigas</option>
                        <option value="">Menor tempo para a entrega</option>
                    </select>
                </div>
                <div class="scroll">
                    <div class="conteudo">
                        <div id="content" class="content">
                            <a class="preto" href="/tarefas/:id_tarefa"><u><h3 id="homework-title-0" class="homework-title"></h3>Robótica e sistemas embarcados - Prof. Gilson Kanashiro</u>
                            <h4 id="homework-desc-0" class="homework-desc">3º Trimestre - Atividade 02 - Threads e funções em C++/C, binários e hexadecimais</h4></a>
                            <div id="homework-quant-0" class="homework-quant">
                                03 materiais em anexo
                            </div>
                        </div>
                        <div id="date" class="date">
                            <b><p id="send-date-0">Data de envio: 01/02/2021</p>
                                <p id="delivery-date-0">Data de entrega: 10/02/2021</p>
                                Situação: <span id="situation-0" class="situation">Não entregues</span>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock principal %}
